@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Braah+One&family=Rowdies:wght@300&display=swap');
.price-box {
  background-color: rgba(60, 108, 221, 0.8);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 50;
  cursor: pointer;
  border: none;
  font-family: 'Black Han Sans', sans-serif;
  color: aliceblue;
}

.price-box:hover {
  background-color: #45d8f6;
  color: #202858;
}

.price-box.disabled {
  background-color: #202858;
  ;
  cursor: not-allowed;
}

.price-box.correct-answer {
  background-color: #30c152;
  /* Verde para respuestas correctas */
}

.price-box.wrong-answer {
  background-color: #cb3e4c;
  /* Rojo para respuestas incorrectas */
}