.price-box {
  padding: 10px;
  background-color: rgba(60, 108, 221, 0.8);
  cursor: pointer;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  color: aliceblue;
}

.price-box:hover {
  background-color: #45d8f6;
  color: #202858;
}

.price-box.disabled {
  background-color: #202858;
  ;
  cursor: not-allowed;
}

.price-box.correct-answer {
  background-color: #30c152;
  /* Verde para respuestas correctas */
}

.price-box.wrong-answer {
  background-color: #cb3e4c;
  /* Rojo para respuestas incorrectas */
}